<html>
	
	<body>
		<style>
			html,body{
				height:100dvh;
				width:100%;
			}
			body{
				display:flex;
				align-items:center;
				justify-content:center;
			}	
			div{
				text-align:center;
				height:200px;
				width:400px;
				background-color:cyan;
				border:none;
				border-radius:10px;
			}
			
		</style>
		<div class="Home">

			<p>Home Page   -- /Employee</p>

		</div>

	</body>

</html> 